.main {
    width: 100%;
}

.topBar {
    width: 100%;
    background: rgba(236, 237, 240, 0.445);
    padding-top: 30px;
    color: rgb(119, 113, 113);
    box-shadow: 0 0 20px rgb(190, 189, 189);
}

h1 img {
    width: 50px;
    margin-left: 20px;
}

.pull-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    position: relative;
    top: 20px;
}

.pull-right .email {
    margin-right: 10px;
}

.pull-right .emailMark {
    color: white;
    position: relative;
    left: -14px;
    top: -6px;
}

.asideBar {
    width: 20%;
    font-size: 14px;
    border-right: 1px solid rgb(224, 215, 215);
}

.personalMsg {
    margin-bottom: 20px;
}

.personalMsg img {
    /* border: 1px solid rgb(168, 162, 162); */
    width: 80%;
    margin: 15px auto;
}

.asideBar ul {
    padding: 0;
    border-top: 1px solid rgb(224, 215, 215);
    height: 500px;
}

.asideBar li {
    display: block;
    height: 35px;
    line-height: 35px;
    list-style: none;
    border-bottom: 1px solid rgb(224, 215, 215);
    padding-left: 30%;
}

.asideBar li span {
    color: silver;
    margin-right: 5px;
}