body {
    min-width: 900px;
}

.main {
    padding: 0;
    margin: 0;
}

.topBar {
    width: 100%;
    background: rgba(236, 237, 240, 0.445);
    padding-top: 30px;
    color: rgb(119, 113, 113);
    box-shadow: 0 0 20px rgb(190, 189, 189);
}

h1 img {
    width: 50px;
    margin-left: 20px;
    font-size: 4em;
}

.pull-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 20px;
}

.pull-right .email {
    margin-right: 10px;
}

.pull-right .emailMark {
    color: white;
    position: relative;
    left: -14px;
    top: -6px;
}

.asideBar {
    width: 20%;
    border-right: 1px solid rgb(224, 221, 221);
}

.asideBar .personalMsg {
    margin: 20px auto;
}

.personalMsg img {
    width: 80%;
    margin-bottom: 10px;
}

.asideBar ul {
    border-top: 1px solid rgb(224, 221, 221);
    padding: 0;
}

.asideBar li {
    list-style: none;
    border-bottom: 1px solid rgb(224, 221, 221);
    height: 30px;
    line-height: 30px;
    padding-left: 30%;
}

.asideBar li span.glyphicon {
    margin-right: 10px;
    color: rgb(143, 148, 153);
}

.badge {
    margin-left: 3px;
    background: rgb(59, 115, 219);
}

.mainMsg {
    padding: 30px 30px;
}

.chooseDate {
    padding: 30px 20px;
}

.chooseDate span {
    font-size: 16px;
    color: rgb(139, 142, 145);
    font-weight: bold;
    margin-right: 10px;
}

.chooseDate .calendarWarp {
    margin: 0 10px;
}

.chooseDate input[type="button"] {
    margin-left: 30px;
}

table {
    margin: 20px;
}


/* 请假申请 */

textarea {
    resize: none;
}

.applyForm {
    margin-top: 40px;
}

.list-group h4 {
    margin: 0;
    font-size: 12px;
}