<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="pull-right" id="login">
        <div class="login-box pull-right">
            <button type="button" class="btn login btn-primary" data-toggle="modal" data-target="#myLogin">登录</button>
            <button type="button" class="btn sign btn-primary" data-toggle="modal" data-target="#mySign">注册</button>
        </div>
        <!--login modal-->
        <div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content clearfix">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                    </div>
                    <div class="modal-body">
                        <form name="login" id="loginForm" method="post">
                            <div class="form-group">
                                <label for="name">用户名：</label>
                                <input type="text" class="form-control" id="name" name="name">
                                <span class="prompt">*用户名不能为空</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password">密码：</label>
                                <input type="password" class="form-control" id="password" name="password" />
                                <span id="little_pic" class="glyphicon glyphicon-eye-open form-control-feedback" aria-hidden="true"></span>
                                <span class="cover" id="cover"></span>
                                <span class="prompt">*密码不能为空</span>
                            </div>
                            <div class="checkbox">
                                <label for="remember">
                                    <input type="checkbox" id="remember"/>记住密码
                                </label>
                            </div>
                            <button type="button" class="loginBtn btn btn-default pull-right">登录</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="mySign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content clearfix">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">注册</h4>
                    </div>
                    <div class="modal-body">
                        <form name="sign" id="signForm" method="post">
                            <div class="form-group">
                                <label for="name1">用户名：</label>
                                <input type="text" class="form-control" id="name1" name="name1" />
                                <span class="prompt">*用户名不能包含空格且不能为空</span>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password">密码：</label>
                                <input type="password" class="form-control" id="password1" name="password1" />
                                <span id="little_pic1" class="glyphicon glyphicon-eye-open form-control-feedback" aria-hidden="true"></span>
                                <span class="cover" id="cover1"></span>
                                <span class="prompt">*密码至少为8位且必须由数字和字母组成</span>
                            </div>
                            <div class="form-group">
                                <div class="identifyCode">
                                    <label for="identify1">验证码：</label>
                                    <input type="text" class="form-control identify" id="identify1" name="identify1" />
                                    <!--<div><img class="identifyPic" src="/getCheckCode" alt=""/></div>-->
                                    <!--<a href="javascript:;" class="change">看不清？换一张</a>-->
                                </div>
                                <span class="prompt">*验证码不能为空</span>
                            </div>
                            <button type="button" class="signBtn btn btn-default pull-right">注册</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">取消</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>