<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员中心</title>
    <link rel="shortcut icon" href="../static/img/icon.png" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="../static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/css/manager.css">
</head>

<body>
    <div>
        <header class="container-fluid">
            <div class="pull-left">
                <h1>管理员中心</h1>
            </div>
            <div class="pull-right">
                <img src="../static/img/admin.jpg" alt="admin">
                <span>Hello</span>
                <span>Admin</span>
            </div>
        </header>
        <div class="block ui-accordion ui-widget ui-helper-reset ui-accordion-icons" id="section-menu" role="tablist">
            <ul class="section menu">
                <li class=""><a class="menuitem ui-accordion-header ui-helper-reset current ui-state-active ui-corner-top" role="tab" aria-expanded="true" aria-selected="true" tabindex="0"><span class="ui-icon ui-icon-triangle-1-s"></span>Menu 1</a>
                    <ul class="submenu ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom current ui-accordion-content-active" role="tabpanel" style="height: 70px; display: block; overflow: visible; padding-top: 0px; padding-bottom: 0px;">
                        <li><a>Submenu 1</a> </li>
                        <li><a>Submenu 2</a> </li>

                    </ul>
                </li>
                <li class=""><a class="menuitem ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span>Menu 2</a>
                    <ul class="submenu ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: 175px; display: none; overflow: visible; padding-top: 0px; padding-bottom: 0px;">
                        <li><a>Submenu 1</a> </li>
                        <li><a>Submenu 2</a> </li>
                        <li><a>Submenu 3</a> </li>
                        <li><a>Submenu 4</a> </li>
                        <li><a>Submenu 5</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span>Menu 3</a>
                    <ul class="submenu ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: auto; display: none;">
                        <li><a>Submenu 1</a> </li>
                        <li><a>Submenu 2</a> </li>
                        <li><a>Submenu 3</a> </li>
                        <li><a>Submenu 4</a> </li>
                        <li><a>Submenu 5</a> </li>
                        <li><a>Submenu 1</a> </li>
                        <li><a>Submenu 2</a> </li>
                        <li><a>Submenu 3</a> </li>
                        <li><a>Submenu 4</a> </li>
                        <li><a>Submenu 5</a> </li>
                    </ul>
                </li>
                <li><a class="menuitem ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false" tabindex="-1"><span class="ui-icon ui-icon-triangle-1-e"></span>Menu 4</a>
                    <ul class="submenu ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" role="tabpanel" style="height: auto; display: none;">
                        <li><a>Submenu 1</a> </li>
                        <li><a>Submenu 2</a> </li>
                        <li><a>Submenu 3</a> </li>
                        <li><a>Submenu 4</a> </li>
                        <li><a>Submenu 5</a> </li>
                        <li><a>Submenu 6</a> </li>
                        <li><a>Submenu 7</a> </li>
                        <li><a>Submenu 8</a> </li>
                        <li><a>Submenu 9</a> </li>
                        <li><a>Submenu 10</a> </li>

                    </ul>
                </li>
            </ul>
        </div>
</body>

</html>