<!DOCTYPE HTML>
<html>

<head>
    <title>表格</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <style>
        #tab {
            border: 1px solid black;
            width: 500px;
        }
        
        #tab td {
            border: 1px solid black;
        }
    </style>
    <script>
        window.onload = function() {
            var oTab = document.getElementById('tab');
            var oldColor = '';
            for (var i = 0; i < oTab.tBodies[0].rows.length; i++) {
                oTab.tBodies[0].rows[i].onmouseover = function() {
                    oldColor = this.style.background;
                    this.style.background = 'white';
                }
                oTab.tBodies[0].rows[i].onmouseout = function() {
                    this.style.background = oldColor;
                }
                if (i % 2) {
                    oTab.tBodies[0].rows[i].style.background = 'pink';
                } else {
                    oTab.tBodies[0].rows[i].style.background = '#ccc';
                }
            }
            var oTxt1 = document.getElementById('txt1');
            var oTxt2 = document.getElementById('txt2');
            var oTxt3 = document.getElementById('txt3');
            var oBtn1 = document.getElementById('btn1');
            var oBtn2 = document.getElementById('btn2');
            var n = oTab.tBodies[0].rows.length + 1;
            for (var i = 0; i < n - 1; i++) {
                var oTd1 = document.createElement('td');
                oTd1.innerHTML = '';
                oTab.tBodies[0].rows[i].appendChild(oTd1);
            }
            oBtn1.onclick = function() {
                var oTr = document.createElement('tr');
                var oTd = document.createElement('td');
                oTd.innerHTML = n++;
                oTr.appendChild(oTd);
                var oTd = document.createElement('td');
                oTd.innerHTML = oTxt1.value;
                oTr.appendChild(oTd);
                var oTd = document.createElement('td');
                oTd.innerHTML = oTxt2.value;
                oTr.appendChild(oTd);
                var oTd = document.createElement('td');
                oTd.innerHTML = '<a href="javascript:;">删除</a>';
                oTr.appendChild(oTd);
                oTd.getElementsByTagName('a')[0].onclick = function() {
                    oTab.tBodies[0].removeChild(this.parentNode.parentNode);
                }
                oTab.tBodies[0].appendChild(oTr);
                for (var i = 0; i < oTab.tBodies[0].rows.length; i++) {
                    oTab.tBodies[0].rows[i].onmouseover = function() {
                        oldColor = this.style.background;
                        this.style.background = 'white';
                    }
                    oTab.tBodies[0].rows[i].onmouseout = function() {
                        this.style.background = oldColor;
                    }
                    if (i % 2) {
                        oTab.tBodies[0].rows[i].style.background = 'pink';
                    } else {
                        oTab.tBodies[0].rows[i].style.background = '#ccc';
                    }
                }
            }

            oBtn2.onclick = function() {
                    for (var i = 0; i < oTab.tBodies[0].rows.length; i++) {
                        if (oTab.tBodies[0].rows[i].cells[1].innerHTML.toLowerCase() == oTxt3.value.toLowerCase()) {
                            for (var t = 0; t < oTab.tBodies[0].rows.length; t++) {
                                if (t % 2) {
                                    oTab.tBodies[0].rows[t].style.background = 'pink';
                                } else {
                                    oTab.tBodies[0].rows[t].style.background = '#ccc';
                                }
                            }
                            oTab.tBodies[0].rows[i].style.background = 'red';
                        } //全写搜索
                        var arr = oTxt3.value.toLowerCase().split(' ');
                        oTab.tBodies[0].rows[i].style.display = 'none';
                        for (var t = 0; t < arr.length; t++) {
                            if (oTab.tBodies[0].rows[i].cells[1].innerHTML.toLowerCase().search(arr[t]) != -1) {
                                oTab.tBodies[0].rows[i].style.display = 'block';
                            }
                        }
                    }
                }
                //排序
            var oBtn3 = document.getElementById('btn3');
            var arr = [];
            oBtn3.onclick = function() {
                for (var i = 0; i < oTab.tBodies[0].rows.length; i++) {
                    arr[i] = oTab.tBodies[0].rows[i];
                }
                arr.sort(function(tr1, tr2) {
                    var n1 = tr1.cells[0].innerHTML;
                    var n2 = tr2.cells[0].innerHTML;
                    return n1 - n2;
                });
                for (var i = 0; i < arr.length; i++) {
                    oTab.tBodies[0].appendChild(arr[i]);
                }
            }
        };
    </script>
</head>

<body>
    姓名<input type="text" id="txt1" /> 年龄
    <input type="text" id="txt2" />
    <input type="button" id="btn1" value="添加" /><br/> 姓名
    <input type="text" id="txt3" />
    <input type="button" id="btn2" value="搜索" /><br/>
    <input type="button" id="btn3" value="排序" /><br/>
    <table id="tab">
        <thead>
            <td>学号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>编辑</td>
        </thead>
        <tbody>
            <tr>
                <td>4</td>
                <td>李一</td>
                <td>20</td>
            </tr>
            <tr>
                <td>3</td>
                <td>王二</td>
                <td>21</td>
            </tr>
            <tr>
                <td>5</td>
                <td>张三</td>
                <td>22</td>
            </tr>
            <tr>
                <td>1</td>
                <td>李四</td>
                <td>23</td>
            </tr>
            <tr>
                <td>2</td>
                <td>赵五</td>
                <td>24</td>
            </tr>

        </tbody>
    </table>
</body>

</html>