<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attendance.mapper.SignStateMapper">
    <resultMap id="signState" type="SignState">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="markOne" column="mark_one"/>
        <result property="markTwo" column="mark_two"/>
    </resultMap>

    <select id="getAllSignState" resultMap="signState">
        SELECT
        id, name, mark_one, mark_two
        FROM
        sign_state
        ORDER BY
        id
        DESC
    </select>

    <insert id="addSignState" parameterType="String">
        INSERT INTO
        sign_state(name)
        VALUES
        (#{name})
    </insert>

    <delete id="delSignState" parameterType="String">
        DELETE FROM
        sign_state
        WHERE
        name = #{name}
    </delete>

    <update id="signIn" parameterType="String">
        UPDATE
        sign_state
        SET
        mark_one = "hidden",mark_two = "display"
        WHERE
        name = #{name}
    </update>

    <update id="signOut" parameterType="String">
        UPDATE
        sign_state
        SET
        mark_one = "display",mark_two = "hidden"
        WHERE
        name = #{name}
    </update>
</mapper>