<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attendance.mapper.StaffMapper">
    <resultMap id="staff" type="Staff">
        <id property="id" column="id"/>
        <result property="staffName" column="staff_name"/>
        <result property="comeTime" column="come_time"/>
        <result property="leaveTime" column="leave_time"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, staff_name, come_time, leave_time
    </sql>

    <!--<select id="" parameterType="" resultType="image">-->
        <!--SELECT-->
        <!--id, name, url, date, user_id-->
        <!--FROM image-->
        <!--WHERE user_id = #{userId}-->
        <!--ORDER BY date DESC-->
    <!--</select>-->

    <!--<delete id="" parameterType="">-->
        <!--DELETE FROM attendance WHERE id=#{id}-->
    <!--</delete>-->

    <insert id="add" parameterType="Staff">
        INSERT INTO staff(staff_name,come_time,leave_time) VALUES (#{staffName},#{comeTime},#{leaveTime})
    </insert>
</mapper>