<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attendance.mapper.WorkInfoMapper">
    <resultMap id="workInfo" type="WorkInfo">
        <id property="id" column="id"/>
        <result property="staffName" column="staff_name"/>
        <result property="staffId" column="staff_id"/>
        <result property="workDay" column="work_day"/>
        <result property="restDay" column="rest_day"/>
        <result property="workDate" column="work_date"/>
        <result property="leaveDate" column="leave_date"/>
    </resultMap>

    <select id="getAllWorkInfo" resultMap="workInfo">
        SELECT
        id,staff_name,staff_id,work_day,rest_day,work_date,leave_date
        FROM
        work_info
        WHERE
        work_date = #{arg0}
    </select>

    <insert id="addOrUpdate">
        <selectKey keyProperty="id" resultType="workInfo" order="BEFORE">
            SELECT count(id) AS id FROM work_info WHERE staff_name = #{staffName} AND work_date = #{workDate}
        </selectKey>
        <if test="id == 1">
            UPDATE work_info SET rest_day = rest_day + #{restDay},work_day = work_day - #{restDay},leave_date = #{leaveDate}
            WHERE staff_name = #{staffName} AND work_date = #{workDate}
        </if>
        <if test="id == 0">
            INSERT INTO work_info (staff_name,staff_id,work_day,rest_day,work_date,leave_date)
            VALUES (#{staffName},#{staffId},#{workDay},#{restDay},#{workDate},#{leaveDate})
        </if>
    </insert>

    <select id="findWorkInfoByName" resultType="String">
        SELECT
        id,staff_name,staff_id,work_day,rest_day,work_date,leave_date
        FROM
        work_info
        WHERE
        staff_name = #{arg0}
    </select>
</mapper>